name: Production Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run make
        run: |
          make
          chmod +x yewresin.sh

      - name: Create Tagged Release
        uses: softprops/action-gh-release@v2
        with:
          files: yewresin.sh, .env.example
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
